In [749]:
import pandas as pd

# Load CSV file with forward slashes
df = pd.read_csv("dataset_directory/archive/Bengaluru_House_Data.csv")

# Display the dataframe
print(df.head())

              area_type   availability                  location       size  \
0  Super built-up  Area         19-Dec  Electronic City Phase II      2 BHK
1            Plot  Area  Ready To Move          Chikka Tirupathi  4 Bedroom
2        Built-up  Area  Ready To Move               Uttarahalli      3 BHK
3  Super built-up  Area  Ready To Move        Lingadheeranahalli      3 BHK
4  Super built-up  Area  Ready To Move                  Kothanur      2 BHK

   society total_sqft  bath  balcony   price
0  Coomee        1056   2.0      1.0   39.07
1  Theanmp       2600   5.0      3.0  120.00
2      NaN       1440   2.0      3.0   62.00
3  Soiewre       1521   3.0      1.0   95.00
4      NaN       1200   2.0      1.0   51.00

In [751]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [753]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [755]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [761]:
df['balcony']=df['balcony'].fillna(df['balcony'].median())

In [763]:
df['bath']=df['bath'].fillna(df['bath'].median())

In [765]:
df['location']=df['location'].fillna('Whitefield')

In [767]:
df['size']=df['size'].fillna('2 BHK')

In [769]:

for col in [col for col in df.columns if df[col].dtypes == "object"]:
  value_counts = df[col].value_counts()
  print(f"Value counts for the column '{df[col].name}':\n{value_counts}")
  print('*'*40)

Value counts for the column 'area_type':
area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
****************************************
Value counts for the column 'availability':
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
****************************************
Value counts for the column 'location':
location
Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
****************************************
Value counts for the column 'size':
size
2 BHK         5215
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
****************************************
Value counts for the column 'society':
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
****************************************
Value counts for the column 'total_sqft':
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
****************************************

In [771]:
df['BHK']=df['size'].apply(lambda x:x.split(" ")[0]).astype(int)

In [773]:
df['BHK'].value_counts()

BHK
2     5544
3     4857
4     1417
1      656
5      356
6      221
7      100
8       89
9       54
10      14
11       4
27       1
19       1
16       1
43       1
14       1
12       1
13       1
18       1
Name: count, dtype: int64

In [775]:
df.drop(['size','society'],axis=1,inplace=True)

In [777]:
df.columns

Index(['area_type', 'availability', 'location', 'total_sqft', 'bath',
       'balcony', 'price', 'BHK'],
      dtype='object')

In [779]:
unc=df['total_sqft'].unique()
print(unc)

['1056' '2600' '1440' ... '1133 - 1384' '774' '4689']

In [781]:
import re
def clean_and_convert(value):
  # Remove non-numeric characters (keep only digits and decimal point)
  cleaned_value = re.sub(r'[^0-9.]', '', value)
  cleaned_value=cleaned_value.rstrip('.')
  return float(cleaned_value)

In [783]:
df['total_sqft']=df['total_sqft'].apply(lambda x:(sum(map(clean_and_convert,x.split('-')))/2) if '-' in x else clean_and_convert(x))

In [785]:
df['pricepersqft']=df['price']*100000/df['total_sqft']

In [787]:
df.describe()

,total_sqft,bath,balcony,price,BHK,pricepersqft
count,13320.000000,13320.000000,13320.000000,13320.000000,13320.000000,1.332000e+04
mean,1555.971707,2.688814,1.603378,112.565627,2.802778,1.234333e+04
std,1238.902448,1.338754,0.803067,148.971674,1.294496,2.256394e+05
min,1.000000,1.000000,0.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,1.000000,50.000000,2.000000,4.271723e+03
50%,1275.000000,2.000000,2.000000,72.000000,3.000000,5.444545e+03
75%,1679.250000,3.000000,2.000000,120.000000,3.000000,7.335907e+03
max,52272.000000,40.000000,3.000000,3600.000000,43.000000,1.600000e+07

In [789]:
df['location']=df['location'].apply(lambda x: x.strip())
location_count=df['location'].value_counts()
less10=location_count[location_count<=10]

In [791]:
df['location']=df['location'].apply(lambda x:'other' if x in less10 else x )

In [793]:
df['location'].value_counts()

location
other                 2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [795]:
df.dtypes

area_type        object
availability     object
location         object
total_sqft      float64
bath            float64
balcony         float64
price           float64
BHK               int32
pricepersqft    float64
dtype: object

In [797]:
df=df[df['total_sqft']/df['BHK']>=300]
df.describe()

,total_sqft,bath,balcony,price,BHK,pricepersqft
count,12538.000000,12538.000000,12538.000000,12538.000000,12538.000000,12538.000000
mean,1594.853464,2.560217,1.604403,111.390611,2.651460,6303.772400
std,1261.221561,1.079405,0.796110,152.041719,0.978385,4161.151656
min,300.000000,1.000000,0.000000,8.440000,1.000000,267.829813
25%,1116.000000,2.000000,1.000000,49.000000,2.000000,4210.526316
50%,1300.000000,2.000000,2.000000,70.000000,3.000000,5294.117647
75%,1700.000000,3.000000,2.000000,115.000000,3.000000,6916.666667
max,52272.000000,16.000000,3.000000,3600.000000,16.000000,176470.588235

In [799]:
df.shape

(12538, 9)

In [801]:
import numpy as np
def remove_outlers(df):
    dfs=[]
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.pricepersqft)
        st=np.std(subdf.pricepersqft)
        reduced_df=subdf[(subdf.pricepersqft>(m-st))&(subdf.pricepersqft<(m+st))]
        dfs.append(reduced_df)
    df_cleaned=pd.concat(dfs,ignore_index=True)
    return df_cleaned

In [803]:
df_cleaned = remove_outlers(df)
df_cleaned.shape

(10308, 9)

In [805]:
def remove_bhk_outliers(df):
    exclude_indices=np.array([])
    for location, location_df in df.groupby('location'):
        bhk_sats={}
        for BHK,BHK_df in location_df.groupby('BHK'):
            bhk_sats[BHK]={
                'mean':np.mean(BHK_df.pricepersqft),
                'std':np.std(BHK_df.pricepersqft),
                'count':BHK_df.shape[0]
            }
        for BHK,BHK_df in location_df.groupby('BHK'):
            stats=bhk_sats.get(BHK-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, BHK_df[BHK_df.pricepersqft < (stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')

In [807]:
df_cleaned = remove_bhk_outliers(df)

In [809]:
df_cleaned.describe()

,total_sqft,bath,balcony,price,BHK,pricepersqft
count,8700.000000,8700.000000,8700.000000,8700.000000,8700.000000,8700.000000
mean,1587.359597,2.568161,1.564943,127.545220,2.601494,7059.261870
std,988.746572,1.133293,0.787030,173.748177,1.024439,4721.672105
min,300.000000,1.000000,0.000000,8.440000,1.000000,500.000000
25%,1100.000000,2.000000,1.000000,50.000000,2.000000,4620.580533
50%,1286.000000,2.000000,2.000000,79.000000,2.000000,5941.770881
75%,1750.000000,3.000000,2.000000,133.000000,3.000000,7714.848144
max,26136.000000,16.000000,3.000000,3600.000000,16.000000,176470.588235

In [811]:
df_cleaned.shape

(8700, 9)

In [813]:
def target(x):
    if not x or "-" not in x:
        return None  # Return None if the input string is empty or does not contain '-'
    date=x.split("-")
    month_to_number = {
    "Jan": 1,
    "Feb": 2,
    "Mar": 3,
    "Apr": 4,
    "May": 5,
    "Jun": 6,
    "Jul": 7,
    "Aug": 8,
    "Sep": 9,
    "Oct": 10,
    "Nov": 11,
    "Dec": 12
}
    if date[1] not in month_to_number:
        return None  # Return None if the month is invalid
    
    target_date = datetime.date(2025, month_to_number[date[1]], int(date[0]))
    return target_date

In [815]:
df['dayslefttomove'] = df['availability'].apply(
    lambda x: 0 if x.strip() in ['Ready To Move', 'Immediate Possession'] else (
        (target(x)-datetime.date.today()  ).days if target(x) else None
    )
)

In [819]:
# Strip spaces and try again
df.columns = df.columns.str.strip()
df.drop(['pricepersqft', 'availability'], axis=1, inplace=True)

In [821]:
df['dayslefttomove'].isnull().sum()

0

In [823]:
df.dtypes

area_type          object
location           object
total_sqft        float64
bath              float64
balcony           float64
price             float64
BHK                 int32
dayslefttomove      int64
dtype: object

In [681]:
df.head()

,area_type,location,total_sqft,bath,balcony,price,BHK,dayslefttomove
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,341
1,Plot Area,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,0
2,Built-up Area,Uttarahalli,1440.0,2.0,3.0,62.00,3,0
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,0
4,Super built-up Area,Kothanur,1200.0,2.0,1.0,51.00,2,0

In [683]:
df['area_type'].value_counts()

area_type
Super built-up  Area    8731
Built-up  Area          2339
Plot  Area              1386
Carpet  Area              82
Name: count, dtype: int64

In [685]:
df['location'].value_counts()

location
other                   2558
Whitefield               539
Sarjapur  Road           395
Electronic City          295
Kanakpura Road           269
                        ...
5th Block Hbr Layout       7
Vishveshwarya Layout       7
Vishwapriya Layout         7
Thyagaraja Nagar           7
Marsur                     5
Name: count, Length: 242, dtype: int64

In [703]:
df['location'].isnull().sum()

0

In [827]:
df.dtypes

area_type          object
location           object
total_sqft        float64
bath              float64
balcony           float64
price             float64
BHK                 int32
dayslefttomove      int64
dtype: object

In [699]:
# from sklearn.preprocessing import OneHotEncoder

# encoder = OneHotEncoder()

# # Initialize OneHotEncoder
# encoded_data = encoder.fit_transform(df[['area_type']])

# # Convert the result to a dense array (if using a sparse matrix)
# encoded_data = encoded_data.toarray()

# # Convert the dense array to a DataFrame with appropriate column names
# encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['area_type']))

# # Concatenate the original DataFrame with the encoded columns
# df_encoded = pd.concat([df, encoded_df], axis=1)

In [701]:
# from sklearn.preprocessing import OrdinalEncoder
# encoder = OrdinalEncoder()

# # Fit and transform the 'location' column
# df_encoded['location_encoded'] = encoder.fit_transform(df_encoded[['location']])

In [691]:
# df_encoded = df_encoded.dropna(subset=['location'])

In [711]:
# df_encoded_cleaned = df_encoded.dropna()

In [719]:
# X=df_encoded_cleaned.drop(columns=['price','area_type','location'])
# y=df_encoded_cleaned['price']

In [721]:
y.shape

(11807,)

In [723]:
X.isnull().sum()

total_sqft                        0
bath                              0
balcony                           0
BHK                               0
dayslefttomove                    0
area_type_Built-up  Area          0
area_type_Carpet  Area            0
area_type_Plot  Area              0
area_type_Super built-up  Area    0
location_encoded                  0
dtype: int64

In [735]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [737]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [739]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.40695823104795525

In [741]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)
rf_score = rf_model.score(X_test, y_test)
print(rf_score)

0.5924322355985063

In [745]:
from sklearn.svm import SVR
svr_model = SVR(kernel='rbf')  # You can change the kernel, e.g., to 'linear' or 'poly'
svr_model.fit(X_train, y_train)

# Evaluate the model on the scaled test data
svr_score = svr_model.score(X_test, y_test)

In [747]:
svr_score

0.34635486550695804

In [831]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# One-hot encode categorical features (e.g., location, area_type, etc.)
categorical_cols = ['area_type','location']
numeric_cols = ['total_sqft', 'bath', 'balcony', 'dayslefttomove','BHK',]


X=df_encoded_cleaned.drop(columns=['price'])
y=df_encoded_cleaned['price']
# Create column transformer to handle preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_cols),
        ('cat', OneHotEncoder(), categorical_cols)
    ])

# Create a pipeline with preprocessing and a model (e.g., RandomForestRegressor)
from sklearn.ensemble import RandomForestRegressor

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor())
])

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the model
pipeline.fit(X_train, y_train)

# Evaluate the model
score = pipeline.score(X_test, y_test)
print(f"Model R^2 score on test data: {score}")

Model R^2 score on test data: 0.6410636144550568